# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
tokens/
config/config.json
.env
debug_*.html
*.log

# Local Netlify folder
.netlify
node_modules/
package-lock.json

# OS specific
.DS_Store
Thumbs.db

# Generated content
/public/feeds/

# Git worktrees
worktrees/
